.form-box {
    background-color: rgba(255, 241, 172, 1);
    margin: 0.5%;
}

.form-panel {
    flex-grow: 1;
    border: 1px dashed #000;
    border-color: green;
    padding: 0.5%;
}

.form-ele {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

legend {
    background-color: white;
}

.white {
    background-color: white;
}

.form-label {
    flex-grow: 1;
    text-align: center;
    width: 60%;
    background-color: #CCE8EB;
    border: 1px solid #cad9ea;
    margin: auto;
}

.form-input {
    flex-grow: 20;
    margin: auto;
    width: 100%;
}

input,
select {
    font-size: 17px;
    width: 95%;
}

.form-img {
    display: block;
    flex-grow: 1;
    width: 20%;
    margin: auto;
}

.form-msg-div{
    border: 1px solid #cad9ea;
    background-color: red;
}

.form-msg-p{
    margin: 0.5% auto;
    color: white;
}
