.flex-box {
    display: flex;
}

.flex-column-box {
    display: flex;
    flex-direction: column;
}

.flex-align-items {
    align-items: flex-start;
}

html {
    width: 100%;
    height: 100%;
}

body {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

.header,
.footer {
    flex-grow: 1;
    background-color: rgba(91,209,215,1);
    text-align: center;
}

.middle {
    flex-grow: 4;
    background-color: rgba(255, 247, 247, 1);
}

.middle2 {
    flex-grow: 10;
    background-color: rgba(218, 218, 218, 1);
}

#descrption-label {
    margin: 0%;
}

.button-box {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

.button-style {
    display: inline-block;
    padding: 8px 60px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(91,209,215,1);
    border: solid 2px #fff;
}

.button-style2 {
    display: inline-block;
    padding: 8px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(91,209,215,1);
    border: solid 2px #fff;
}
button:hover {
    text-decoration: none;
}

button:active {
    position: relative;
    top: 2px;
}

#local-operation-box {
    flex-grow: 1;
}

#query-box {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 0.5%;
    padding-left: 15%;
    padding-right: 15%;
}

#table-box {
    flex-grow: 10;
    flex-basis: 80%;
    justify-content: space-evenly;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 5%;
}

#query-input {
    height: 40px;

}

table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

table td,
table th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}

table thead th {
    background-color: #CCE8EB;
    width: 100px;
}

table tr:nth-child(odd) {
    background: #fff;
}

table tr:nth-child(even) {
    background: #F5FAFA;
}

#table-status-msg {
    padding-left: 2%;
}

#table-msg-p{
    margin: 0.5% auto;
    color: red;
}

#table-msg-div{
    border: 1px solid #cad9ea;
    color: #666;
    background-color: white;
}

.close{
    display: none;
}

.visible-close{
    opacity: 0%;
}

.cursor{
    cursor: pointer;
}

img {
    width: 100%;
}